
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html{
	scroll-behavior: smooth;
}

*{
	font-family: 'Open Sans', sans-serif !important;
}

.fa-regular, .fa-solid, .fa-bold, .fa-brands {
	font-family: "FontAwesome" !important;
}

*-primary{
	background: red !important;
}

.h-10{
	height: 10vh;
}


.whatsapp{
	width: 80px;
	height: 80px;
	position: fixed;
	right: 5%;
	bottom: 5%;
	background: #02df73;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	z-index: 99;
}

.avatar{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}

.footer-link > li > a {
	text-decoration: none !important;
	color: gray;
}

.top-index{
	background: url(../img/slider1.jpg) 50% 50%;
	background-size: cover;
	background-attachment: fixed;
	background-position: 5px 10%;
}


.overlay-index{
	background: rgb(255 255 255 / 95%);
	width: 100%;
	height: 100%;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/*aboutus*/

.hero{
	background: url(../img/hero.jpg), rgba(0, 0, 0, .9);
	width: 100%;
	height: 50vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hero > .overlay{
	background: rgba(0, 0, 0, .4);
	width: 100%;
	height: 100%;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*detail*/
/*.arrow-detail-left {
	position: absolute;
	left: 10px;
	top: 50%;
}*/

.arrow-items{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;

}

.detail-thumbnail{
	width: 100px;
	height: 100px;
}

.easyzoom--with-thumbnails{
	width: 100%;
}

.slick-slide .slick-active{
	width: 200px;
}

.height-100px{
	height: 100% !important;
	object-fit: cover;
}

.marketplace-detail {
	transition: .2s ease-in;
}

.marketplace-detail > img {
	MAX-width: 100px;
	width: 100%;
}

.marketplace-detail:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}


/*products*/

.hl{
	border-left: 2px solid gray;
	height: 30px;
}